<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/style.css" />
    <script src="/public/functions.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register Game Guide</title>
  </head>
  <body>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>

    <nav>
      <h3> Register to Game Guide</h3>

      <ul class="nav-links">
        <li>
          <div class="active-nav-link"></div>
          <a href=" / "> Home </a>
          {{! connect to index.html }}
        </li>
        <li>
          <div class="active-nav-link"></div>
          <a href="/login "> Login </a>
        </li>
        <li>
          <div class="active-nav-link"></div>
          <a href="/register"> Register </a>
        </li>
      </ul>
      <!-- darkmode -->
      <div class="btnlight" onclick="colourSchemeShift()">
        <i class="fas fa-moon"> </i>
      </div>

    </nav>
    <br /><br />
    <br /><br />

    <div class="container mt-4">
      <div class="card">
        <div class="card-header">
          Register Form
        </div>
        <div class="card-body">
          <form action="/aut/register" method="POST">
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" class="form-control" id="name" name="name" />
            </div>

            <div class="form-group">
              <label for="email">Email Address</label>
              <input
                type="email"
                class="form-control"
                id="email"
                name="email"
              />
            </div>

            <div class="form-group">
              <label for="password">Password</label>
              <input
                type="password"
                class="form-control"
                id="password"
                name="password"
              />
            </div>
            <div class="form-group">
              <label for="passwordConfirm">Confirm Password</label>
              <input
                type="password"
                class="form-control"
                id="passwordConfirm"
                name="passwordConfirm"
              />
            </div>
            <br />
            <button type="submit" class="btn btn-primary">Register User</button>
          </form>
        </div>
      </div>
      {{#if message}}
        <h4 class="alert alert-danger mt-4">{{message}}</h4>
      {{/if}}
    </div>

  </body>
</html>